.main-g {
  width: 100%;
  height: 1200px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.gallery__body {
  max-width: 1200px;
  position: relative;
  transition: all 1s ease 0s;
  margin: 50px 0px 0px 0px;
}
@media (any-hover: none) {
  .gallery__body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.gallery__body.preload {
  position: relative;
  opacity: 0;
  margin: 50px 0px 0px 0px;
}
.gallery__items {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  align-items: center;
  gap: 16px;
}
@media (any-hover: hover) {
  .gallery__items {
    justify-content: center;
  }
}
.gallery__column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px -8px;
}
.gallery__column:first-child {
  justify-content: flex-end;
}
.gallery__row {
  display: inline-grid;
  padding: 0px 8px;
  gap: 16px;
  grid-template-columns: auto;
  grid-auto-flow: column;
}
.gallery__row:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

.row-gallery__item img {
  border-radius: 15px;
}
@media (any-hover: hover) {
  .row-gallery__item img {
    transition: all 0.3s ease 0s;
    filter: brightness(0.9) grayscale(1);
  }
}
@media (any-hover: hover) {
  .row-gallery__item:hover img {
    transition: all 0.3s ease 0s;
    filter: brightness(1) grayscale(0);
  }
}
.row-gallery__item-3 img {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  width: 451px;
  height: 312px;
}
.row-gallery__item-2 img {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  width: 274px;
  height: 382px;
}
.row-gallery__item-7 img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 295px;
  height: 392px;
}
.row-gallery__item-1 img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 258px;
  height: 196px;
}
.row-gallery__item-4 img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 290px;
  height: 348px;
}
.row-gallery__item-5 img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 381px;
  height: 323px;
}
.row-gallery__item-6 img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 344px;
  height: 242px;
}
.row-gallery__item-8 img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 290px;
  height: 348px;
}
.row-gallery__item-9 img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 274px;
  height: 383px;
}
.row-gallery__item-10 img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 178px;
  height: 242px;
}
.row-gallery__item-11 img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 258px;
  height: 196px;
}
.row-gallery__item-12 img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 381px;
  height: 323px;
}
.row-gallery__item-13 img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 425px;
  height: 433px;
}

.row-gallery_left-top {
  justify-content: end;
  align-items: end;
}

.row-gallery_left-bottom {
  justify-content: end;
  align-items: start;
}

.row-gallery_center {
  display: block;
}

.row-gallery_right-top {
  align-items: end;
}

.row-gallery_right-bottom {
  align-items: start;
}