.footer{
   
   position: relative;
   background-color: #141414;
   color: #fff;
   left: 0;
   width: 100%;
   bottom: 0;
   height: 120px;
   &__wrapper{
      @media(max-width: $md3){
         flex-direction: column;
         padding: 20px 0px 20px 0px;
         justify-content: space-around;
        }
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      align-items: center;
   }
   &__title{
      color: #FFF;
   font-family: 'Montserrat', sans-serif;
   @include adaptive-value("font-size",20,14,1);
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   }
   &__text{
      font-family: 'Montserrat',sans-serif;
      color: #FFF;
      @include adaptive-value("font-size",16,12,1);
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      }
}
.main-price{
   .footer{
      transition: all 1s ease 0s;
   }
   .footer.preload{
    margin: 120px 0px 0px 0px;
}
}